#txt{
  resize: none;
  width:280px;
  height:400px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  display: block;
  margin: 8px;
}

#left_content {
  background-color: lightblue;
  margin: 8px;
  padding: 8px;
}
#right_content {
  background-color: lightblue;
  margin: 8px;
  padding: 8px;
}

@media (min-width: 710px) {
  #content {
    display: flex;
  }
  #left_content {
    flex-grow: 3;
  }
  #right_content {
    flex-grow: 1;
  }
}